@import url('https://fonts.google.com/specimen/Press+Start+2P');

body {
  padding: 0;
  margin: 0;
  background-color: lightblue;
  text-align: center;
  overflow-y: hidden;
}
div {
  padding: 5px;
}
canvas {
  border: 4px solid black;
}
